<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>Avem nevoie de acces la calendar pentru a salva activitățile tale ca evenimente.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Avem nevoie de acces pentru a adăuga activitățile în calendarul tău.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Avem nevoie de acces complet la calendar pentru a-ți permite să editezi evenimentele și să adaugi invitați.</string>
</dict>
</plist>
